#sec-01 {
  padding-top: .8rem;
  padding-bottom: 2.8rem;
  background-color: #222222;
  background-image: url("img/sec-01/bg-lines.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
}

#sec-01 .rezart-logo {
  display: inline-block;
  text-decoration: none;
  margin-right: 1.2rem;
}

#sec-01 .logo {
  width: pxToRem(26px);
  height: pxToRem(30px);
  fill: #fff;
}

.header-paragraph {
  font-family: TinkovL;
  font-size: pxToRem(14px);
  color: #959595;
}

.menu-logo {
  width: 25px;
  height: 32px;
  fill: #fff;
}

.close-logo {
  width: 15px;
  height: 25px;
  fill: #fff;
}

.hamburger{
  background:none;
  position:absolute;
  top: -14%;
  right:0;
  border:0;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right: 2%;
  border:0;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

#sec-01 .menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #222;
  z-index: 1;
  padding: 11rem 0;
  background-image: url("img/sec-01/bg-lines.png");
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
}

.menu_paragraph {
  font-family: TinkovEB;
  font-size: pxToRem(16px);
  color: #fff;
  position: relative;
  margin-bottom: 1rem;
}

.menu_link {
  position: relative;
  font-family: TinkovL;
  font-size: pxToRem(14px);
  text-decoration: none;
  color: #7a7a7a;
  line-height: 1.4;
}

.menu__icon {
  width: 1rem;
  height: 1rem;
  fill: #fff;
}

.menu__span {
  position: absolute;
  top: 0;
  left: -20%;
}

.menu__icon-location {
  fill: #7a7a7a;
}

// CONTENT
#sec-01 .row:first-child {
  margin-bottom: 2.7rem;
}

.sec-01__title {
  font-family: TinkovEB;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  color: #fff;
  margin-bottom: .4rem;
}

.sec-01__paragraph {
  font-family: TinkovL;
  font-size: pxToRem(16px);
  color: #fff;
  line-height: 1.5;
  padding: 0 1rem;
  margin-bottom: 3.4rem;
}

.sec-01__link {
  display: inline-block;
  // text-decoration: none;
  color: #fff;
  font-family: TinkovEB;
  font-size: pxToRem(14px);
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

#sec-01 .row:last-child [class*= col-]:first-child {
  text-align: center;
  margin-bottom: 2.4rem;
}

.sec-01__link {
  position: relative;
  letter-spacing: 1.4px;
  margin-bottom: 1.7rem;
  &::before {
    display: block;
    content: url("img/sec-01/border-btn.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    transition: opacity .3s linear;
    opacity: .5;
  }
}

.sec-01__under-btn-p {
  font-family: TinkovL;
  font-size: pxToRem(14px);
  color: #7a7a7a;
  padding: 0 2rem;

}

.sec-01__bootom-p {
  font-family: TinkovL;
  font-weight: bold;
  color: #fff;
  text-align: left;
  line-height: 1.5;
  padding: 0 4.5rem;
}

@media (max-width: 767px) {
  #sec-01 .row:last-child [class*= col-] {
    padding: 0;
  }

  #sec-01 .menu_link:last-child {
    display: none;
  }

  .header-telephone {
    display: none;
  }
}

@media (min-width: 768px) {
  #sec-01 {
    padding-top: 1.2rem;
    padding-bottom: 15.1rem;
    background-image: url("img/sec-01/bg-md.png");
  }


  #sec-01 .row:last-child [class*= col-]:first-child {
    text-align: left;
    margin-bottom: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: .4rem .6rem 0 .6rem;

  }

  #sec-01 .rezart-logo {
    margin-right: 1rem;
  }

  #sec-01 .logo {
    width: pxToRem(40px);
  }

  .menu-container {
    display: none;
  }

  .header-telephone {
    position: relative;
    font-family: TinkovEB;
    font-size: pxToRem(16px);
    color: #fff;
    align-self: baseline;
  }

  .sec-01__title {
    font-size: pxToRem(48px);
    text-align: left;
    margin-bottom: .8rem;
  }

  .sec-01__paragraph {
    font-size: pxToRem(20px);
    padding: 0 1rem 0 .5rem;
    margin-bottom: 3.6rem;
  }

  #sec-01 .row:first-child {
    margin-bottom: 15.2rem;
  }

  .sec-01__btn-container {
    width: 21rem;
    margin-left: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
  }

  .sec-01__under-btn-p {
    padding: 0 .5rem;
  }

  .sec-01__link {
    &::before {
      content: url("img/sec-01/border-btn-md.png");
    }
  }

  .sec-01__bootom-p {
    padding: 0;
    margin: 17.2rem 0 0 5.7rem;
  }

  .sec-01__bg-color {
    background-color: #222222;
    padding: 0 .4rem;
  }

  #sec-01 .row:last-child [class*=col-]:last-child {
    position: relative;
  }

  #sec-01 .menu_link {
    position: absolute;
    right: 8%;
    bottom: -54%;
  }
}

@media (min-width: 1200px) {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #sec-01 {
      background-image: url("img/sec-01/bg-lg@2x.png");
    }
}
  #sec-01 {
    background-image: url("img/sec-01/bg-lg.png");
  }

  .header {
    padding: .4rem 0 0 0;
  }

  .sec-01__title {
    width: 66%;
  }

  .sec-01__paragraph {
    padding: 0;
    width: 61%;
  }

  .sec-01__btn-container {
    margin-left: 0;
  }

  .sec-01__under-btn-p {
    padding: 0;
  }

  .sec-01__bootom-p {
    margin: 17.2rem 0 0 15.2rem;
  }

  #sec-01 .menu_link {
    right: 1%;
  }
}
