$title-color: #28292d;

@font-face {
  font-family: TinkovEB;
  src: url('fonts/Gilroy-ExtraBold.woff') format("woff"),
       url('fonts/Gilroy-ExtraBold.woff2') format("woff2");
}

@font-face {
  font-family: TinkovL;
  src: url('fonts/Gilroy-Light.woff') format("woff"),
       url('fonts/Gilroy-Light.woff2') format("woff2");
}

.title {
  font-family: TinkovEB;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  color: $title-color;
}

.subtitle {
  font-family: TinkovEB;
  font-size: pxToRem(20px);
  color: #28292d;
}
