@font-face {
  font-family: TinkovEB;
  src: url('fonts/Gilroy-ExtraBold.woff') format("woff"),
       url('fonts/Gilroy-ExtraBold.woff2') format("woff2");
}

@font-face {
  font-family: TinkovL;
  src: url('fonts/Gilroy-Light.woff') format("woff"),
       url('fonts/Gilroy-Light.woff2') format("woff2");
}
